.header
    width: 100%
    height: 100%
    padding: .5rem 1rem
    border-bottom: 2px solid #EF8354
    margin-bottom: 2rem
    &__container
        display: flex
        align-items: center
        justify-content: space-between
    &__content
        width: 60%
        padding: 1rem 0
    &__title
        margin-bottom: 2rem
        & h1
            margin-bottom: .5rem
            font-size: 32px
            font-weight: 600
        & p
            text-align: center
            margin-left: 1rem
            font-size: 20px
    &__subtitle
        color: #0D1B2A
        font-weight: 600
        & p
            margin-bottom: .5rem
            color: #4F5D75

.avatar
    text-align: center
    &__img
        width: 60%
        border-radius: 80px
        box-shadow: 0px 3px 10px 1px rgba(45, 49, 66, 0.25)
