.projects
    padding: 1rem
    border-radius: 5px
    margin-bottom: 1rem
    &__title
        font-size: 28px
        font-weight: 600
        margin-bottom: 1rem
    &__list
        display: flex
        gap: 1.5rem
    &__item
        display: flex
        min-width: 250px
        flex-direction: column
        align-items: center
        justify-content: space-between
        padding: 1rem
        background: #fff
        border-radius: 10px
        box-shadow: 0px 3px 10px 1px rgba(45, 49, 66, 0.25)
    &__img
        display: block
        margin-bottom: .5rem
        background-color: #000
        width: 250px
        height: 250px
        object-fit: contain
        border-radius: 10px
        box-shadow: 0px 3px 10px 1px rgba(45, 49, 66, 0.25)
    &__name
        text-align: center
        font-size: 22px
        font-weight: 600
        margin-bottom: .5rem
        padding-bottom: 5px
        border-bottom: 1px solid #2D3142
    &__description
        padding-bottom: 10px
        color: #4F5D75
        & p
            margin-bottom: .5rem
    &__buttons
        display: flex
    &__link
        display: block
        margin-right: 1rem
        text-align: center
        font-weight: 600
        color: #001219
        padding: .5rem
        background: #0A9396
        border: 1px solid #0A9396
        border-radius: 10px
        transition: all ease .2s
        box-shadow: 0px 3px 10px 1px rgba(45, 49, 66, 0.25)
        &:last-child
            margin-right: 0
        &:hover
            background: #fff
            border: 1px solid #001219
